@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*
{
    margin: 0;
    padding: 0;
}

html {
  /* background-color: #1e1a20; */
  background-image: linear-gradient(rgb(5,25,64),rgb(218, 182, 252) 50%,rgb(15,0,42));
}

/* html,
body
{
    overflow: hidden;
} */

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    align-items: center;
    width: 80vw;
    height: 100vh;
    margin: auto;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: rgb(224, 219, 219);
    text-transform: uppercase;
    font-size: 10vmin;
    /* padding-left: 10%;
    padding-right: 10%; */
    font-family: 'Bebas Neue', cursive;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px rgb(118, 118, 118);
}

/* h2, h1 {
  text-shadow: white 2px 5px;
} */

/* section:nth-child(odd)
{
    justify-content: flex-end;
} */
